################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TradeAnalyzer/.vs/TradeAnalyzer.slnx
/.vs/CopilotSnapshots
/TradeAnalyzer/.vs
/TradeAnalyzer/bin/Debug/net10.0-windows
/TradeAnalyzer/obj
/TradeAnalyzer/obj/Debug/net10.0-windows
/TradeAnalyzer/obj/Debug/net10.0-windows/MainWindow.g.i.cs
/TradeAnalyzer/obj/Debug/net10.0-windows/TradeAnalyzer.AssemblyInfo.cs
/TradeAnalyzer/obj/Debug/net10.0-windows/TradeAnalyzer.AssemblyInfoInputs.cache
/TradeAnalyzer/obj/Debug/net10.0-windows/TradeAnalyzer.assets.cache
/TradeAnalyzer/obj/Debug/net10.0-windows/TradeAnalyzer.GeneratedMSBuildEditorConfig.editorconfig
/TradeAnalyzer/obj/Debug/net10.0-windows/TradeAnalyzer_MarkupCompile.i.cache
/TradeAnalyzer/obj/project.assets.json
/TradeAnalyzer/obj/project.nuget.cache
/TradeAnalyzer/obj/TradeAnalyzer.csproj.nuget.dgspec.json
/TradeAnalyzer/obj/TradeAnalyzer.csproj.nuget.g.props
